@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="https://i.insider.com/5e32b2f924306a6f9b6edd52?width=1100&format=jpeg&auto=webp"alt="Corona virus medicine" />